<span id="sl_category_select">

<%= collection_select(:select, :fl_category_id, fc, :id, :title, {:selected => "#{fc_selected}"},
        {:data => {  :remote => true, :url => url_for(:controller => "category", :action => "sl_category_select")}} ) %>

<%= collection_select(:select, :sl_category_id, sc, :id, :title, {:selected => "#{sc_selected}"},
        {:data => {  :remote => true, :url => url_for(:controller => "category", :action => "cc_category_select")}} ) %>

<%= collection_select(:select, :course_category_id, cc, :id, :title, {}, {:multiple => true, :class => "form-control"} ) %>

</span>

<script>
 $("#select_course_category_id").select2();
</script>
