<h1> Edit a Course </h1>
<%= render :partial => "form_edit", :locals => {:course => @course, :fc => FlCategory.all, :fc_selected => @fl_category_id, :sc => @sl_categories, :sc_selected => @sl_category_id, :cc => @course_categories } %>
